In [ ]:
print("hello world")

hello world

In [ ]:
a = 1
b = c = a
print(a,b,c)

1 1 1

In [ ]:
a = 1
b = a
a = 2 #把a存到2裡面去
print(a)
print(b)

2
1

In [ ]:
a = """1234565748153135334531515"""
print(a)

1234565748153135334531515

In [ ]:
a = "0123456789abcdef"
print(a[0])
print(a[3])
print(a[-1])
print(a[:]) #印出全部字元
print(a[5:])
print(a[:5])
print(a[5:10])
print(a[5:-3])
print(a[5:10:2])

0
3
f
0123456789abcdef
56789abcdef
01234
56789
56789abc
579

In [ ]:
a= 'hello world'
print(len(a))

a= 'hello world, I am yoyo, how are you?'
b = a.split(',')
c = a.split(' ')
d = a.split()
print(b)
print(c)
print(d)

11
['hello world', ' I am yoyo', ' how are you?']
['hello', 'world,', 'I', 'am', 'yoyo,', 'how', 'are', 'you?']
['hello', 'world,', 'I', 'am', 'yoyo,', 'how', 'are', 'you?']

In [ ]:
a= ['apple','banana','orange']
b= [1,2,3,4,5,]
c=['apple',1,2,3,['orange']]
d= list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['orange']]
['a', 'p', 'p', 'l', 'e']

In [ ]:
t = ('apple','banana','orange','grap') #把左邊指定給右邊
a, b, c, d = t
print(a)
print(b)
print(c)
print(d)
print()
print(t[0])
print(t[1])
print(t[2])
print(t[3])

apple
banana
orange
grap

apple
banana
orange
grap

In [ ]:
#tuple使用時無法更改其值
t1 = ('apple','banana','orange')
t2 = ('grap','pineapple')
t = t1 + t2
print(t)

('apple', 'banana', 'orange', 'grap', 'pineapple')

In [ ]:
a = dict(name='yoyo',age=18, eat=['apple','banana']) #每個冒號隔出key and value(鍵值對)
print(a)
print(type(a))

{'name': 'yoyo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

globel v.s. local

In [1]:
a = 2
b = 3
if a > b:
  print('true') #上述為真會回傳true
print("false") #如果是伪會傳回false
print()

a = 2
b = 1
if a > b:
  print('true')
print("false")

false

true
false

In [2]:
a = 2
b = 3
if a > b:
  print("true")
else:
  print("false")
print("ok")

false
ok

In [ ]:
a = 3
b = 2
if a > b:
  print("hello")
else:
  print("world")
print("ok")

hello
ok

In [ ]:
a = 2
b = 3
if a < b:
  print('a<b')
  if a==1:
    print('a==1')
  elif a==2:
    print('a==2')
  elif a==3:
    print('a==3')
elif a>b:
  print('a>b')
else:
  print('a=b')
print('ok')

a<b
a==2
ok

In [4]:
a=6
b=4
c=0
if a>b or a<c and a==2 or b==4:
  print('true')
else:
  print('false')

true

In [6]:
x = (10>8) and (10>20)
x

False

In [7]:
x = not(10>8) #true 經過not運算會傳回 false
x

False

布林值這種資料型態通常只有是或否

In [10]:
not 5 #傳回相反布林值

True

In [ ]:
for i in 'abc':
  print(i)

a
b
c

In [ ]:
#依序印出字元
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

此程式分為外迴圈與內迴圈(x讀入後，進內迴圈，印出每個組合後，就會跳出內迴圈，重新跑一次外迴圈)

In [ ]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [ ]:
i = [] #空串列
for t in range(10):
  t+=1
  i.append(t)
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
try:
  a = input('輸入數字: ')
  a =int(a) #轉成整數
  print(a + 1)
except:
  pass
print('hello')

輸入數字: 10
11
hello

In [2]:
while True: #測資
  try:
    a = input('輸入數字: ')
    a = int(a)
    if (a> 20): #條件判斷成立則執行區塊內程式
     print(a + 1)
    else: #如果條件判斷不成立則執行此部分的程式
     print('invalid')
  except:
    break

輸入數字: 12
invalid
輸入數字: 21
22
輸入數字: q

In [3]:
print("輸出絕對值")
num = input("請輸入任意整數值: ")
x = int(num)
if (int(x) < 0):
  x = -x
print(f"絕對值是{x}")

輸出絕對值
請輸入任意整數值: 98
絕對值是98

在網路爬蟲存取資料時，常會遇上不知道可以獲得多少筆資料，(1-100比之間)，如果最多只想取10筆當作證據，如果小於10筆則取多少皆使用，設計概念如下

In [4]:
items = eval(input("請輸入一個數字: "))
items = 10 if items >= 10 else items
print(items)

請輸入一個數字: 32
10

In [ ]:
a = []
for i in range(1,10):
  a.append(i*i) #把新的資料append到串列中
print(a)

#使用串列生成式
b = [j*j for j in range(1,10)] #適用於較不複雜的程式
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]